.dashboardLayout {
  padding: 64px 0;
  min-height: fit-content;
  background-color: #ffffff;
}
.dashboardSider {
  background-color: #ffffff;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}
.dashboardContent {
  min-height: 1000px;
  margin-left: 200px;
}
