.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

.userLayout {
  padding: 64px 0;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userContainer {
  min-width: 1000px;
  min-height: 600px;
}
